In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("rft_reviewCount_perDay (1).csv")
df.head

<bound method NDFrame.head of         REVIEWCOUNT             BUSINESS_ID              CATEGORY_NAME  \
0                 1  chUeS0h9C8KGfyJO2Jqgew                      Salad
1                 2  iRIHK8-EwpeffwvoO4nzIA                    Seafood
2                 1  NxaslE3Fu4BUJN1OuT1mTw     American (Traditional)
3                 1  ujQ1XOMwCRpABsKYUg7rGw           Eyebrow Services
4                 1  r48rmDbebDPE0uLmbG-qew                Steakhouses
...             ...                     ...                        ...
281981            1  KDzLMPTTLihnpcctZLmg0g                  Nightlife
281982            2  WCdRXckP-dyr8IbbWzMCoA                  Nightlife
281983            1  zlNtAPz4GvSUiljQ-D3cvQ                 Sandwiches
281984            3  DcBLYSvOuWcNReolRVr12A                    Seafood
281985            1  U6I0k4ziZmQ-0SOccDsA7A  Event Planning & Services

              DATE STATE  AVG_DAILY_FOOT_TRAFFIC  DOW  SEASON
0       2021-04-10    MO                9.900937    6  Spring
1       2021-05-07    MO                7.048542    5  Spring
2       2021-05-20    FL                6.623333    4  Spring
3       2019-12-22    IN                5.703542    0  Winter
4       2020-11-11    AZ                3.506771    3    Fall
...            ...   ...                     ...  ...     ...
281981  2018-01-29    FL                7.868750    1  Winter
281982  2018-06-08    AZ                5.896354    5  Spring
281983  2019-12-04    LA                5.512812    3    Fall
281984  2019-02-16    LA                1.379375    6  Winter
281985  2019-07-20    PA                7.148229    6     Sum

[281986 rows x 8 columns]>

In [ ]:
catt = df["CATEGORY_NAME"].unique()

In [ ]:
newdf = pd.DataFrame(columns = df.columns)
newdf = newdf.append(df.iloc[0])
newdf

<ipython-input-6-ca1baad4d1ad>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  newdf = newdf.append(df.iloc[0])

,REVIEWCOUNT,BUSINESS_ID,CATEGORY_NAME,DATE,STATE,AVG_DAILY_FOOT_TRAFFIC,DOW,SEASON
0,1,chUeS0h9C8KGfyJO2Jqgew,Salad,2021-04-10,MO,9.900937,6,Spring

In [ ]:
df2 = df.groupby(by=df.CATEGORY_NAME, dropna=False).sum()
df2

In [ ]:
df2.sort_values(by='REVIEWCOUNT', ascending=False)[1:50]

In [ ]:
cat_list = ['Events', 'Automotive','Travel','Food','Health & Medical','Hotels & Travel','Event Planning & Services']
df3 = pd.DataFrame(columns = df.columns)
df3 = df3.append(df.iloc[0])
for i in range(len(df)):
  if df['CATEGORY_NAME'][i] in cat_list:
    df3 = df3.append(df.iloc[i])

In [ ]:
df3 = df3.drop(0)

In [ ]:
df3["CATEGORY_NAME"].unique()

array(['Event Planning & Services', 'Food', 'Hotels & Travel',
       'Automotive', 'Health & Medical'], dtype=object)

In [ ]:
output_file_path = r'C:\Users\y1310\Desktop\top5_category.csv'
df3.to_csv(output_file_path, index=False)

In [ ]:
df = pd.read_csv("rft_reviewCount_perDay(noCategory).csv")
df.head

<bound method NDFrame.head of          REVIEWCOUNT             BUSINESS_ID        DATE STATE  \
0                  1  0vi741BLMGl2QPeTXWeG2w  2018-03-05    LA
1                  1  syX56DgsypCm35ZGASzuxA  2018-04-30    FL
2                  1  F13x4Y7Lmv_FgyWUxka5xg  2018-08-06    PA
3                  1  AIeiNwWbTo7mwq1CQRDkyw  2018-02-03    FL
4                  1  HxUXrtCDt4LjhqGQnsLS3w  2018-07-10    LA
...              ...                     ...         ...   ...
2385164            1  YTbGUbE8xXl7Hw2ncuBI_g  2018-02-18    LA
2385165            1  VJpuuNZ8QXR2zTHIhB0yhw  2018-06-29    PA
2385166            1  XjuqPaZGBL_9FdV200Vqag  2019-02-03    TN
2385167            1  rZFm1YslDSv-Uy2oZ41eIQ  2018-01-30    FL
2385168            1  l_8s-fRs9vr00JmrRsg79Q  2019-02-23    AZ

         AVG_DAILY_FOOT_TRAFFIC  DOW  SEASON
0                      8.631562    1  Winter
1                      9.218438    1  Spring
2                      7.666250    1  Summer
3                      6.031771    6  Winter
4                      5.180521    2  Summer
...                         ...  ...     ...
2385164                4.354583    0  Winter
2385165               26.006596    5  Summer
2385166                3.603542    0  Winter
2385167                5.862604    2  Winter
2385168                5.039062    6  Winter

[2385169 rows x 7 columns]>

In [ ]:
for i in range(len(df)):
  if df["DOW"][i] == 1.0:
    df["DOW"][i] = "Monday"
  if df["DOW"][i] == 2.0:
    df["DOW"][i] = "Tuesday"
  if df["DOW"][i] == 3.0:
    df["DOW"][i] = "Wednesday"
  if df["DOW"][i] == 4.0:
    df["DOW"][i] = "Thursday"
  if df["DOW"][i] == 5.0:
    df["DOW"][i] = "Friday"
  if df["DOW"][i] == 6.0:
    df["DOW"][i] = "Saturday"
  if df["DOW"][i] == 0.0:
    df["DOW"][i] = "Sunday"

<ipython-input-25-c8756713fe19>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["DOW"][i] = "Monday"

In [ ]:
df["DOW"].unique()

array(['Monday', 'Saturday', 'Tuesday', 'Thursday', 'Friday', 'Sunday',
       'Wednesday'], dtype=object)

In [ ]:
output_file_path = r'wekkday.csv'
df.to_csv(output_file_path, index=False)